<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Iman Khafaga{% endblock %} - ImanKhafaga.Art</title>
    <link class="ik-icon" rel="icon" type="" href="{{url_for('static', filename='icons/ik.svg')}}"/>
    <link rel="stylesheet" href="https://use.typekit.net/tnm3wfk.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body class="{% if show_modal %}modal-open{% endif %}">
    <nav class="mobile-nav">
      <h2><a href="{{url_for('home')}}">Iman Khafaga</a></h2>
      <ul>
        <li>
          <a
            href="{{url_for('projects')}}"
            class="{% if active_page == 'projects' %}active{% endif %}"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="{{url_for('sketchbook')}}"
            class="{% if active_page == 'sketchbook' %}active{% endif %}"
            >Sketchbook</a
          >
        </li>
        <li>
          <a
            href="{{url_for('links')}}"
            class="{% if active_page == 'links' %}active{% endif %}"
            >Links</a
          >
        </li>
        <li>
          <a
            href="{{url_for('contact')}}"
            class="{% if active_page == 'contact' %}active{% endif %}"
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <nav class="main-nav">
      <h1><a href="{{url_for('home')}}">Iman Khafaga</a></h1>
      <div class="nav-center"></div>
      <ul>
        <li>
          <a
            href="{{url_for('projects')}}"
            class="{% if active_page == 'projects' %}active{% endif %}"
            >Projects</a
          >
        </li>
        <li>
          <a
            href="{{url_for('sketchbook')}}"
            class="{% if active_page == 'sketchbook' %}active{% endif %}"
            >Sketchbook</a
          >
        </li>
        <li>
          <a
            href="{{url_for('links')}}"
            class="{% if active_page == 'links' %}active{% endif %}"
            >Links</a
          >
        </li>
        <li>
          <a
            href="{{url_for('contact')}}"
            class="{% if active_page == 'contact' %}active{% endif %}"
            >Contact</a
          >
        </li>
        {% if session['user_id'] %}
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-container">
      {% for category, message in messages %}
      <div class="flash flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    {% block hero %}{% endblock %}  
    <div class="site-wrapper">
    <main>{% block content %}{% endblock %}</main>
    </div>

      <button id="backToTop">↑</button>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
