<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Iman Khafaga{% endblock %} - ImanKhafaga.Art</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1><a href="{{url_for('home')}}">Iman Khafaga</a></h1>
      <ul>
        <li><a href="{{url_for('projects')}}">Projects</a></li>
        <li><a href="{{url_for('sketchbook')}}">Sketchbook</a></li>
        <li><a href="{{url_for('links')}}">Links</a></li>
        <li><a href="{{url_for('contact')}}">Contact</a></li>
        {% if not session %}
        <li><a href="{{url_for('login')}}">Admin</a></li>
        {% else %}
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
