{% extends 'base.html' %} {% block title %}Links{% endblock %} {% block content
%}
<div class="links">

        <div class="link linked-in">
      <i class="fa-brands fa-linkedin"></i>
    <a target=”_blank” href="https://www.linkedin.com/in/iman-khafaga/">LinkedIn</a>
  </div>
  <div class="link youtube">
      <i class="fa-brands fa-youtube"></i>
    <a target=”_blank” href="https://www.youtube.com/@ImanKhafaga-o7p">YouTube</a>
  </div>
  <!-- <a href="">ArtStation</a> -->
  <div class="link instagram">
      <i class="fa-brands fa-instagram"></i>
    <a target=”_blank” href="https://www.instagram.com/_im_an_artist/">Instagram</a>
  </div>
</div>
{% endblock %}
