{% extends 'base.html' %} {% block title %}Projects{% endblock %} {% block
content %} {% if session["user_id"] and show_modal %}
<div class="projects-form modal">
  <div class="modal-card">
    <div class="x-icon">
      <a href="{{url_for('projects')}}">
        <img src="{{url_for('static', filename='icons/x.svg')}}" />
      </a>
    </div>
    <h2 class="projects-form-title">
      <span class="text">Upload Project</span>
      <span class="emoji">⬆️</span>
    </h2>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input name="title" placeholder="Project 1" autocomplete="off" required />
      <!-- <label for="cover image">Cover Image:</label>
      <input name="cover_image_url" placeholder="https://www.example.com/" autocomplete="off" /> -->
      <label for="file upload">Upload Cover Image: </label>
      <img id="preview" src="" alt="Image preview">
      <input id="file-input" class="custom-file-upload" type="file" name="file" accept="image/png, image/jpeg"  required/>
      <button type="submit">Upload</button>
    </form>
  </div>
</div>
{% endif %}

<div class="projects__container">

  {% if session['user_id']%}
  <div class="project">
    <a href="{{url_for('projects', new = 'true')}}">
      <img src="{{url_for('static', filename='icons/plus.svg')}}" alt="Add" class="plus-icon" />
    </a>
  </div>
  {% endif %}
  {% for project in projects %}
  <div class="project">
    <a href="/projects/{{ project.id }}">
      <h1>{{project.title}}</h1>
      <img src="{{ project.cover_image_url }}" />
      <div class="overlay"></div>
    </a>
    {% if session["user_id"]%}
    <div class="divider-top"></div>
    <div class="controls">
      <div>
        <a href="{{ url_for('projects', edit = project.id) }}"> <span>✏️</span><span>Edit</span></a>
      </div>
      <div class="pipe-icon">
        <img src="{{url_for('static', filename='icons/pipe.svg')}}"></img>
      </div>
      <div>
        <a href="{{url_for('projects', delete=project.id)}}"><span>🗑️</span><span>Delete</span></a>
      </div>
    </div>
    {% endif %} {% if editing_id == project.id %}
    <div class="projects-form modal">
      <div class="modal-card">
        <div class="x-icon">
          <a href="{{url_for('projects')}}">
            <img src="{{url_for('static', filename='icons/x.svg')}}" />
          </a>
        </div>
        <h2 class="projects-form-title">
          <span class="text">Edit Project</span>
          <span class="emoji">✏️</span>
        </h2>
        <form method="post" autocomplete="off" enctype="multipart/form-data">
          <label for="title">Title</label>
          <input name="title" value="{{project.title}}" autocomplete="off" />
          
          <label for="current-image">Cover Image</label>
          <img class="current-image" name="current-image" src="{{project.cover_image_url}}"/>
          
          <label for="modify_file">Replace Cover Image</label>
            <img id="preview" src="" alt="Image preview">
              <input id="file-input" class="custom-file-upload" type="file" name="modify_file" accept="image/png, image/jpeg"  required/>
          
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
    {% endif %}
    {% if deleting_id == project.id %}
    <div class="projects-form modal">
      <div class="modal-card">
        <div class="x-icon">
          <a href="{{url_for('projects')}}">
            <img src="{{url_for('static', filename='icons/x.svg')}}" />
          </a>
        </div>
        <h2 class="projects-form-title">
          <span class="text">Delete Project?</span>
        </h2>
        <p>Are you sure you want to delete this project?</p>
        <p class="p--red">Any content inside it will be removed.</p>
        <form method="post" action="/projects/{{project.id}}/delete">
          <button type="submit"><span>Delete</span> <span>🗑️</span></button>
        </form>
      </div>
    </div>
    {% endif %}


  </div>
  {% endfor %}
</div>
{% endblock %}`