{%extends 'base.html'%} {% block title %}{{project.title}}{% endblock %} {%
block content %} {% if session['user_id'] and show_modal%}
<div class="projects-form modal">
  <div class="modal-card">
    <div class="x-icon">
      <a href="/projects/{{project.id}}">
        <img src="{{url_for('static', filename='icons/x.svg')}}" />
      </a>
    </div>
    <h2 class="projects-form-title">
      <span class="text">Upload Project</span>
      <span class="emoji">⬆️</span>
    </h2>
    <form method="post" autocomplete="off">
      <label for="caption">Caption</label>
      <input name="caption" placeholder="Add a caption…" autocomplete="off" />
      <label for="image url">Image</label>
      <input name="image_url" placeholder="https://www.example.com/" autocomplete="off" />
      <button type="submit">Upload</button>
    </form>
  </div>
</div>
{% endif %}
<div class="project-content__wrapper">
  <h1 class="project-contents-title">{{project.title}}</h1>
  <div class="project-contents__container">

    {% for content in project.contents %}
    <div class="project-content">
      <img src="{{content.image_url}}" />
      <p>{{content.caption}}</p>
      {% if session['user_id'] %}
      <div class="controls">
        <div>
          <a href="/projects/{{ project.id }}?edit={{content.id}}"> <span>✏️</span><span>Edit</span></a>
        </div>
        <div class="pipe-icon">
          <img src="{{url_for('static', filename='icons/pipe.svg')}}"></img>
        </div>
        <div>
          <form method="post" action="/projects/{{ project.id }}/delete/content_id/{{ content.id }}">
            <button type="submit"><span>Delete</span> <span>🗑️</span></button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    {% if editing_id == content.id and session['user_id'] %}`
    <div class="projects-form modal">
      <div class="modal-card">
        <div class="x-icon">
          <a href="{{url_for('project_detail', project_id = project.id)}}">
            <img src="{{url_for('static', filename='icons/x.svg')}}" />
          </a>
        </div>
        <h2 class="projects-form-title">
          <span class="text">Edit Content</span>
          <span class="emoji">✏️</span>
        </h2>
        <form method="POST" autocomplete="off">
          <label for="caption">Caption</label>
          <input name="caption" autocomplete="off" value="{{content.caption}}" />
          <label for="image url">Image</label>
          <input name="image_url" autocomplete="off" value="{{content.image_url}}" />
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
    {% endif %} {% endfor %}

    {% if session['user_id']%}

    <div class="plus-icon__container">
      <a href="{{ url_for('project_detail', project_id=project.id, new='true') }}">
        <img src="{{url_for('static', filename='icons/plus.svg')}}" alt="Add" class="plus-icon" />
      </a>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}